# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Logs
logs/
*.log

# Environment files
.env
.env.*

# Configuration files
.prettierrc
.eslintrc.json

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Coverage
coverage/
.nyc_output/

# Test folder
test/
